.whole{
    border: 2px solid  grey;
    box-sizing: border-box;
}

img{
    height: 25rem;
    width: 20rem;
    border-radius: 20rem ;
}

nav{
    justify-content:center;
    display: flex;
    justify-content: space-between;
}

.side{
    display: flex;
}